/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&amp;family=Montserrat:wght@300;400;500;600;700&amp;display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --fs-200: clamp(4rem, 10vw + 1rem, 12rem);
  --fs-300: clamp(3rem, 8vw + 1rem, 10rem);
  --fs-400: clamp(2.5rem, 8vw + 1rem, 6rem);
  --fs-600: clamp(2rem, 6vw + 1rem, 4rem);
  --fs-800: clamp(1rem, 6vw + 0.5rem, 3rem);
  --fs-900: clamp(1rem, 4vw + 0.5rem, 1.75rem);
  --fs-1000: clamp(1rem, 1vw + 0.25rem, 1.25rem);
  --fs-1200: clamp(0.75rem, 1vw + 0.25rem, 1rem);
  --font: "Montserrat", sans-serif;
  --alt-font: "Dancing Script", Montserrat, sans-serif;
  --font-color: rgb(39, 39, 39);
  --secondary-font-color: rgb(82, 82, 82);
  --accent: #52b788;
  --secondary: #52b788;
  --primary: #40916c;
  --background: #121212;
  --section-padding: 100px 0;
  --overlay-5: rgb(68, 68, 68);
  --overlay-7: rgb(45, 45, 45);
  --overlay-9: rgba(255, 255, 255, 0.09);
  --overlay-12: rgba(255, 255, 255, 0.12);
  --overlay-16: rgba(255, 255, 255, 0.16);
  --bs-hover: rgba(0, 0, 0, 0.25) 0px 24px 48px,
    rgba(0, 0, 0, 0.22) 0px 20px 20px;
  --bs: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

main {
  position: relative;
}

.gradient {
  background-image: linear-gradient(
    to right top,
    #52b788,
    #219c8d,
    #0f8086,
    #246374,
    #2f4858
  );
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: (--fs-600);
  font-weight: 300;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}

a:focus {
  outline: none;
}

.container {
  margin: auto;
  max-width: 1400px;
  margin: 0 auto;
}

.page-container {
  padding: 2rem;
  min-height: 100vh;
}

.btn {
  padding: 1em 3em;
  font-size: var(--fs-1000);
  box-shadow: var(--bs);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: var(--bs-hover);
}

button:focus {
  outline: none;
}

.btn-hover {
  transition: all 0.2s ease-in;
}

.btn-hover:hover {
  background-color: var(--primary);
  color: white;
}

img {
  height: 100%;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

li {
  list-style-type: none;
  position: relative;
}

h1 {
  font-size: var(--fs-400);
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-600);
  line-height: 1.25;
  font-weight: 400;
}

h3 {
  font-size: var(--fs-800);
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}

h4 {
  font-size: var(--fs-900);
  font-weight: 400;
}

h5 {
  font-size: var(--fs-1000);
  font-weight: 300;
}

p {
  font-size: var(--fs-1000);
  line-height: 1.75;
  font-weight: 300;
}
